<%= provide(:title, "Users") %>
<h1>利用者一覧</h1>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <table class="table table-condensed table-hover">
      <thead>
        <tr>
          <th>名前</th>
        </tr>
      </thead>
      
      <tbody>
       <% @users.each do |user| %>
         <tr>
           <td>
             <%= link_to user.name, user %>
           </td>
           <td>
             <% unless user.admin? %>
               <%= link_to "削除", user, method: :Delete,
               data: {confirm: "#{user.name}を削除します。よろしいですか？"},
               class: "btn btn-danger btn-sm pull-right" %>
             <% end %>
           </td>
         </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>